.contact__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    padding: 1rem 2rem;
}

.contact__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: var(--size-sm);
}

.contact__title {
    font-size: var(--size-2xl);
    text-align: center;
    margin-bottom: 1rem;
}

.contact__item {
    border: 1px solid var(--clr-blue);
    border-radius: 5px;
    padding: 0.5rem;
    width: 50%;
}

.contact__item::placeholder {
    color: var(--clr-rose);
}

.contact__item:nth-child(4) {
    resize: none;
}

.contact__button {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    font-size: var(--size-xs);
    padding: 0.5rem 1rem;
    border: 1px solid var(--clr-light);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.contact__button:hover {
    background-color: var(--clr-rose);
    color: var(--clr-light);
}

/* XS */
/* @media (min-width: 475px) {
    
} */

/* S */
/* @media (min-width: 640px) {    
    
} */

/* M */
@media (min-width: 768px) {
    .contact__wrapper {
        margin-top: 56px;
    }

    .contact__title {
        font-size: var(--size-3xl);
    }

    .contact__button {
        font-size: var(--size-base);
    }
}

/* L */
@media (min-width: 1024px) {
    .contact__wrapper {
        margin-top: 68px;
    }

    .contact__group {
        font-size: var(--size-xl);
    }
    
    .contact__title {
        font-size: var(--size-4xl);
    }
    
    .contact__button {
        font-size: var(--size-lg);
    }
}

/* XL */
/* @media (min-width: 1280px) {

} */

/* XXL */
/* @media (min-width: 1536px) {
    
} */